SNOWFLAKE_ACCOUNT=account
SNOWFLAKE_USER=user
SNOWFLAKE_PASSWORD=password

SNOWFLAKE_WAREHOUSE=warehouse
SNOWFLAKE_DATABASE=database
SNOWFLAKE_SCHEMA=schema
SNOWFLAKE_ROLE=role

SNOWFLAKE_AUTHENTICATOR=authenticator
SNOWFLAKE_PRIVATE_KEY_PATH=private_key
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
SNOWFLAKE_PASSCODE=
SNOWFLAKE_PASSCODE_IN_PASSWORD=false

DBT_PROFILES_DIR=dbt
DBT_TARGET=dev

TABLEAU_SERVER=https://your-pod.online.tableau.com
TABLEAU_SITE_NAME=your_site_content_url
TABLEAU_PAT_NAME=opendota_liveops_mcp
TABLEAU_PAT_VALUE=your_tableau_pat_value
TABLEAU_PROJECT_NAME=OpenDota LiveOps
TABLEAU_DATASOURCE_NAME=opendota_liveops_curated_marts
TABLEAU_WORKBOOK_NAME=opendota_liveops_meta_stability
